/********** SET BACKGROUND COLOR **********/
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

/********** SET BOX SHADOW **********/
@mixin set-boxShadow($color) {
  box-shadow: 5px 5px 20px lighten($black, 10%);
}

/********** CENTER CONTENT **********/
@mixin flex-center($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
