/********** FONT IMPORT **********/
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

/********** FONT STACK **********/
$font: "Archivo", sans-serif;

/********** COLORS **********/
$purpleDetail: #986dff;
$white: #fff;
$black: #111111;
$gray: #9ca3af;
$red: #e51d37;
$blue: #00a3ff;
$green: #a6fb98;

/********** SIZES **********/
$small: 12px;
$regular: 20px;
$big: 40px;
