<main class="invitation">
  <header class="title">
    <h1>Mariia</h1>
    <h3>Turns 1</h3>
  </header>

  <section class="photo">
    <img src="/img/5.jpg" alt="Imagem da Mariia" width="300" height="350" />
  </section>

  <article class="text">
    <p>
      A Mariia gostaria de convidar você para celebrar com ela esse primeiro ano
      de vida!
    </p>
    <p>Sábado, 16 de Setembro de 2023, às 16HS</p>
  </article>

  <section class="location">
    <h2>Location</h2>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.7615334268844!2d-46.38397892470169!3d-23.96887127668987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce1cbe06cc6025%3A0x1f1f11843809e6fc!2sAv.%20Embaixador%20Pedro%20de%20Toledo%2C%20288%20-%20Centro%2C%20S%C3%A3o%20Vicente%20-%20SP%2C%2011320-440!5e0!3m2!1sen!2sbr!4v1693340282563!5m2!1sen!2sbr"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
</main>

<aside class="confirmation">
  <h4>Favor confirmar até 14 de setembro</h4>
  <p>Estamos ansiosos para te encontrar!</p>

  <form action="/submit" method="post">
    <label for="sim">Eu vou</label>
    <input type="checkbox" name="sim" />

    <label for="number">Quantas pessoas?</label>
    <input type="text" name="number" />

    <label for="nao">Nao vou poder :(</label>
    <input type="checkbox" name="nao" />

    <input type="button" value="Submeter" />
  </form>
</aside>
