<main class="invitation">
  <header class="title">
    <h1><%= locals.name %></h1>
    <h3>Turns <%= locals.age %></h3>
  </header>

  <section class="photo">
    <img src="/img/5.jpg" alt="Imagem da Mariia" width="300" height="350" />
  </section>

  <article class="text">
    <p>
      A <%= locals.name %> gostaria de convidar você para celebrar com ela esse
      primeiro ano de vida!
    </p>
    <p>Sábado, 16 de Setembro de 2023, às 16HS</p>
  </article>

  <section class="location">
    <h2>Location</h2>

    <p>Av. Embaixador Pedro de Toledo, n. 288 -</p>
    <p>Salão de Festas</p>
  </section>

  <form action="/submit" method="post" class="form">
    <div class="labels">
      <label for="sim">Eu vou:</label>
      <input type="radio" name="sim" />
    </div>

    <div class="labels">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Digite seu nome" />
    </div>

    <input type="submit" value="Submeter" />
  </form>
</main>
